.iconwhatsapp{
    width: 100%;
    height: 200px;
    background-color: rgba(223, 39, 39, 0.226);
    color: white;
 
    display: flex;
  justify-content: center;
    
}.tocing{
    margin: 40px;
    color: blue;
}.tocing :hover{
   
    color: white;
}.placesForGhob{
    color: white;

}.divOfplacesForGhob{
    width: 100%;
    height: 300px;
    background-color:black;
   display: flex;
   justify-content: space-around;
}.divOfplacesForGhob img{
    width: 70%;
    height: 80%;
   
    margin-left: 100px;
}.img{
    width: 180px;
    height: 100px;
}#revewse{
    margin: 10%;
}.footer{
    margin-top: 50px;
}
